<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>caijain</title>
	<link rel="stylesheet" href="./css/jquery.Jcrop.min.css">
	<script src="./js/jquery.min.js"></script>
	<script src="./js/jquery.Jcrop.min.js"></script>
	<script>
		  $(function($){
		  	var widthN = 0;
		  	var heightN = 0;
		  	var mlN = 0;
		  	var nrN = 0;
		    // Create variables (in this scope) to hold the API and image size
		    var jcrop_api,
		        boundx,
		        boundy,

		        // Grab some information about the preview pane
		        $preview = $('#preview-pane'),
		        $pcnt = $('#preview-pane .preview-container'),
		        $pimg = $('#preview-pane .preview-container img'),

		        xsize = $pcnt.width(),
		        ysize = $pcnt.height();
		    $('#element_id').Jcrop({
		      onChange: updatePreview,
		      onSelect: updatePreview,
		      //aspectRatio: xsize / ysize
		    },function(){
		      // Use the API to get the real image size
		      var bounds = this.getBounds();
		      boundx = bounds[0];
		      boundy = bounds[1];
		      // Store the API in the jcrop_api variable
		      jcrop_api = this;

		      // Move the preview into the jcrop container for css positioning
		      $preview.appendTo(jcrop_api.ui.holder);
		    });

		    function updatePreview(c)
		    {
		      if (parseInt(c.w) > 0)
		      {
		        var rx = xsize / c.w;
		        var ry = ysize / c.h;
		        widthN= Math.round(rx * boundx);
		        heightN = Math.round(ry * boundy);
		        mlN = Math.round(rx * c.x);
		        nrN = Math.round(ry * c.y);
		        $pimg.css({
		          width: widthN + 'px',
		          height: heightN + 'px',
		          marginLeft: '-' +mlN + 'px',
		          marginTop: '-' + nrN + 'px'
		        });
		      }
		    };
		  	$(".btn").click(function(){
		  		console.log(widthN,heightN,mlN,nrN)
		  	});
	 		$(".btn").click(function(){
	 			$.ajax({
	 				url:"/imginf",
	 				method:"GET",
	 				data:{
	 					w:widthN,
	 					h:heightN,
	 					ml:mlN,
	 					nr:nrN
	 				},
	 				success:(res)=>{
	 					console.log(res)
	 				}
	 			})
	 		});
		  });
	</script>
	<style>
		.jcrop-holder #preview-pane {
		  display: block;
		  position: absolute;
		  z-index: 2000;
		  top: 10px;
		  right: -280px;
		  padding: 6px;
		  border: 1px rgba(0,0,0,.4) solid;
		  background-color: white;

		  -webkit-border-radius: 6px;
		  -moz-border-radius: 6px;
		  border-radius: 6px;

		  -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
		  -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
		  box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
		}
		/* The Javascript code will set the aspect ratio of the crop
		   area based on the size of the thumbnail preview,
		   specified here */
		#preview-pane .preview-container {
		  width: 250px;
		  height: 170px;
		  overflow: hidden;
		}
	</style>
</head>
<body>
	<img id="element_id" src="imgs/pool.jpg">
  	<div id="preview-pane">
    	<div class="preview-container">
	      	<img src="imgs/pool.jpg" class="jcrop-preview" alt="Preview" />
	    </div>
 	</div>
 	<button class="btn">点击</button>
 	<script>

 	</script>
</body>
</html>